/* styles.css */
  
  .module_container {
    background-image: url('../img/huishe1.jpg'); /* 指定的背景图片 */
    background-size: cover; /* 背景图片覆盖整个可视区域 */
    background-position: center; /* 背景图片居中显示 */
    color: white; /* 文字颜色为白色 */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  /* .header {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  
  h1, h2 {
    margin: 0;
  } */
  
  .service_card {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    width: 180px;
    height: 180px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .service_card:hover {
    transform: scale(1.1);
  }
  
  .service_name {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 5px 0;
  }
  
  .service_description {
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  }
  
  .service_card:hover .service_description {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  
  .module_more {
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }
  
  .module_more a {
    background-color: #0466C8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  