.Comparison{
    width:1010px;
    margin: 0 auto;
}

.Comparison_Header{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}

.Comparison_Header_Channel{
    width:27%;
    float: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 100%;
}


.Comparison_Header_Channel_MyPage{
    text-decoration: underline;
    cursor: pointer;
}

.Comparison_Header_Title{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Comparison_Header_Title_1{
    text-align: left;
}

.Comparison_Header_Title_1_Img{
    float:left;
    font-size: 80px;
    color: #9F4298;
}
.Comparison_Header_Title_1_Text{
    margin: 0;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}

.Comparison_Main_Btn{
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Comparison_Main_Btn_1{
    width: 30%;
    padding:10px;
    border-radius: 10px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 1px 1px #d2d2d2;
    border : 1px solid #ebebeb;
    cursor: pointer;
}

.Comparison_Main{
    padding-top: 50px;
}

.Comparison_Main_Title{
    border : 1px solid;
    text-align: left;
    padding-left: 20px;
}

.Comparison_Main_Title p {
    font-weight: bold;
    
}

.Comparison_Main_Content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.Comparison_Main_Content1_table{
    border: 1px solid;
    border-collapse: collapse;
}

.Comparison_Main_Content_1{
    margin-top: 50px;
}

.Comparison_Main_Content_1_Box{
    position: relative;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 1px 1px #d2d2d2;
    border : 1px solid #ebebeb;
    cursor: pointer;
}

.Comparison_Main_Content_1_Box:hover{
    box-shadow: none;
    border : 2px solid #9F4298;
}

.Comparison_Main_Content_1_Star{
    position: absolute;
    top: 20px;
    right: 20px;

}

.Comparison_Main_Content_1_Star1{
    display: none;
    color:#9F4298;
    font-size: 40px;
}

.Comparison_Main_Content_1_Star2{
    color:#9F4298;
    font-size: 40px;
}

.Comparison_Main_Content_1_Star2:hover{
    opacity: 0.7;
}

input.Comparison_Main_Content_1_Checkbox_Chx{
    
    display:none;
    
    }

input.Comparison_Main_Content_1_Checkbox_Chx + label{
        cursor:pointer;
   }


input.Comparison_Main_Content_1_Checkbox_Chx + label:before{
    position: absolute;
    left: 20px;
    top: 35%;
    content:"";
    display:inline-block;
    width:30px;
    height:30px;
    border:2px solid #d2d2d2;
    border-radius: 4px;
    vertical-align:middle;
}

input.Comparison_Main_Content_1_Checkbox_Chx + label:hover:before{
    border:2px solid #9F4298;
}

input.Comparison_Main_Content_1_Checkbox_Chx:checked  + label:before{
    content:"";
    background-color:#9F4298;
    border-color:#9F4298;
    background-image: url('../../png/check_btn.png');
    background-repeat: no-repeat;
    background-position: 50%;
    }

.Comparison_Main_Content_1_Main_Title_1{
    position: absolute;
    top: 10%;
    left:10%;
    font-size: 20px;
    margin: 0;
}

.Comparison_Main_Content_1_Main_Title_2{
    position: absolute;
    top: 10%;
    left: 19%;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.Comparison_Main_Content_1_Main_Img{
    position: absolute;
    top: 25%;
    left:9%;
    font-size: 110px;
    opacity: 0.8;
}

.Comparison_Main_Content_1_Main_Rent{
    position: absolute;
    top: 30%;
    left:20%;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color:#9F4298;
}

.Comparison_Main_Content_1_Main_Location{
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 17px;
}

.Comparison_Main_Content_1_Text{
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Comparison_Main_Content_1_Text p {
    margin: 5px;
}

.Comparison_Main_Content_1_Btn{
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.Comparison_Main_Content_1_Btn1{
    background-color: #0052E8;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 180px;
    height: 40px;
    padding-left: 20px;
}

.Comparison_Main_Content_1_Btn1:hover{
    background-color: #03286e;
}

.Comparison_Main_Content_1_Btn1_Img{
    font-size: 35px;
    padding-right: 5px;
    float: left;
}

.Comparison_Number{
    margin-top: 100px;
    text-align: center;
    float:inherit;
}

.Comparison_Number p {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
}

.Comparison_Number_1{
    border: 1px solid #9F4298;
    padding : 5px;
    background-color: #9F4298;
    color: white;

}

.Comparison_Number_2{
    border: 1px solid ;
    padding : 5px;
    cursor: pointer;
}