.build-create-building-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.build-form-container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.build-building-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.build-building-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.build-error-message {
  color: red;
  margin-bottom: 12px;
}

.build-form-buttons {
  display: flex;
  justify-content: space-between;
}

.build-cancle-btn, .build-delete-btn {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 48%;
  border-radius: 5px;
}

.build-cancle-btn:hover, .build-delete-btn:hover {
  background-color: darkviolet;
}
