.build-header {
  background-color: #462679;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.build-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.build-logo img {
  width: 40px;
  margin-right: 10px;
}

.build-logo span {
  font-size: 22px;
  font-weight: bold;
}

/* 검색창 */
.build-search-bar {
  position: absolute;
  right: 20px; /* 검색창을 오른쪽 끝에 배치 */
  top: 50%; /* 중앙에 정렬 */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.build-search-bar input {
  padding: 5px;
  font-size: 16px;
}

.build-search-bar button {
  background-color: #462679;
  color: white;
  border: none;
  padding: 7px 15px;
  margin-left: 10px;
  cursor: pointer;
}
