.build-image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.build-carousel-control {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.build-carousel-image {
  max-width: 100%;
  height: auto;
}
