

.mainSell_Menu{
    width: 200px;   
    cursor: pointer;
    display:table;
}

.mainSell_Menu:hover{
    background-color:#f4f4f4 ;
}

.mainSell_Menu p {
    font-weight: bold;
    font-size: 18px;
    display:table-cell;
    vertical-align:middle;
}
.mainMy_Menu{
    height: 100%;
    display: flex;           
    justify-content: flex-start;
    margin-left: 10px;
    position: absolute;
    right: 0;
}

.mainRecent_Menu{
    width: 70px;
    padding-top:15px;
    cursor: pointer;
    margin-right:20px;
}

.mainRecent_Menu:hover{
    background-color:#f4f4f4 ;
}

.mainRecent_Menu p {
    font-size:12px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.mainRecent_Img{
    
   width: 35px;
   height:35px;
    /* background: url("../png/Recent_Menu.png"); */
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
}

.mainFavorite_Menu{
    width: 70px;
    padding-top:15px;
    cursor: pointer;
    margin-right:20px;
}

.mainFavorite_Menu:hover{
    background-color:#f4f4f4 ;
}

.mainFavorite_Menu p {
    font-size:12px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.mainFavorite_Img{
    width:35px;
    height:35px;
     /* background: url("../png/Favorite_Menu.png"); */
     background-size: auto;
     margin: auto;
 }

 .mainMypage_Menu{
    width: 70px;
    padding-top:15px;
    cursor: pointer;
    /* margin-right:20px; */
}

.mainMypage_Menu:hover{
    background-color:#f4f4f4 ;
}

.mainMypage_Menu p {
    font-size:12px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.mainMypage_Img{
    width:35px;
    height:35px;
     /* background: url("../png/Mypage_Menu.png"); */
     background-size: auto;
     margin: auto;
 }
