/* UploadReview.css */
.upload_review_container {
  
}

.upload-review-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.review_form_group {
  margin-bottom: 15px;
}

.review_form_group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.review_form_group input,
.review_form_group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.review_form_group input[type="date"],
.review_form_group input[type="number"] {
  padding: 8px;
}

.review_form_group textarea {
  resize: vertical;
}

.reviewUP_btns_form_group {
  display: flex;
  flex: 1;
  gap: 10px; /* 设置按钮之间的间距 */
}

.reviewUP_submit_btn {
  flex: 1; /* 每个按钮均分父容器的空间 */
  padding: 10px;
  background-color: #9f4298;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reviewUP_submit_btn:hover {
  background-color: #ce82c4;
}
