.Cbuild-create-building-container {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  padding: 10px;
  gap: 10px; /* 항목 간의 간격을 더 좁힘 */
}

.Cbuild-form-container {
  width: 50%; /* 폼의 너비를 더 좁힘 */
  padding: 5px; /* 패딩을 더 줄임 */
  border: 1px solid #ccc;
  border-radius: 3px; /* 모서리 둥글게 */
  background-color: #f9f9f9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.Cbuild-building-form {
  display: flex;
  flex-direction: column;
  width : 600px;
}

.Cbuild-building-form label {
  margin-bottom: 1px; /* 레이블과 입력 필드 간격을 더 줄임 */
  font-weight: bold;
  font-size: 10px; /* 폰트 크기를 더 줄임 */
}

.Cbuild-building-form input[type="text"],
.Cbuild-building-form input[type="number"],
.Cbuild-building-form input[type="date"],
.Cbuild-building-form textarea {
  margin-bottom: 5px; /* 입력 필드 간격을 더 줄임 */
  padding: 4px; /* 패딩을 더 줄임 */
  border: 1px solid #ccc;
  border-radius: 3px; /* 입력 필드 모서리를 더 둥글게 */
  font-size: 12px; /* 글꼴 크기를 더 작게 설정 */
}

.Cbuild-building-form input[type="radio"],
.Cbuild-building-form input[type="checkbox"] {
  margin-right: 2px; /* 라디오 버튼 및 체크박스 간격을 더 줄임 */
}

.Cbuild-image-upload-btn {
  padding: 4px; /* 버튼 패딩을 더 줄임 */
  background-color: purple;
  color: white;
  border: none;
  border-radius: 3px; /* 버튼 모서리 둥글게 */
  cursor: pointer;
  transition: background-color 0.3s;
}

.Cbuild-image-upload-btn:hover {
  background-color: darkviolet; /* 호버 시 색상 변경 */
}

.Cbuild-form-buttons {
  margin-top: 5px; /* 버튼 간격을 더 줄임 */
  display: flex;
  justify-content: space-between;
}

.Cbuild-save-btn,
.Cbuild-cancle-btn {
  padding: 4px; /* 버튼 패딩을 더 줄임 */
  background-color: purple;
  color: white;
  border: none;
  border-radius: 3px; /* 버튼 모서리 둥글게 */
  cursor: pointer;
  width: 45%;
  transition: background-color 0.3s;
}

.Cbuild-save-btn:hover,
.Cbuild-submit-btn:hover {
  background-color: darkviolet; /* 호버 시 색상 변경 */
}
